= render "help_login"
%h1 Вход
%hr
%div{:class => "row"}
  %div{:class =>"span9"} Для возможности управления услугами, необходимо ввести регистрационные данные.%div{:class => "row"} &nbsp;
  = render "shared/alert" 
  = form_tag sessions_path do 
    %p= label_tag :email, "Email:" 
    = text_field_tag :email, params[:email], :placeholder => "Введите ваш email-адрес", :class => "span3"
  
    %p= label_tag :password, "Пароль:" 
    = password_field_tag :password 
    %p= check_box_tag(:remember_me, 1, params[:remember_me])
    Запомнить меня
  
    %hr
    %p= submit_tag "Войти", :class => "btn" 
  = end
