<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.number_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :lft %><br />
    <%= f.number_field :lft %>
  </div>
  <div class="field">
    <%= f.label :rgt %><br />
    <%= f.number_field :rgt %>
  </div>
  <div class="field">
    <%= f.label :depth %><br />
    <%= f.number_field :depth %>
  </div>
  <div class="field">
    <%= f.label :system %><br />
    <%= f.check_box :system %>
  </div>
  <div class="field">
    <%= f.label :redirect %><br />
    <%= f.text_field :redirect %>
  </div>
  <div class="field">
    <%= f.label :menu %><br />
    <%= f.check_box :menu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
