<h1>Listing pages</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Site</th>
    <th>Code</th>
    <th>Url</th>
    <th>Parent</th>
    <th>Lft</th>
    <th>Rgt</th>
    <th>Depth</th>
    <th>System</th>
    <th>Redirect</th>
    <th>Menu</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.name %></td>
    <td><%= page.content %></td>
    <td><%= page.site_id %></td>
    <td><%= page.code %></td>
    <td><%= page.url %></td>
    <td><%= page.parent_id %></td>
    <td><%= page.lft %></td>
    <td><%= page.rgt %></td>
    <td><%= page.depth %></td>
    <td><%= page.system %></td>
    <td><%= page.redirect %></td>
    <td><%= page.menu %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
