%ul.nav-bar
  %li
    = link_to t('admin.nav_bar.settings'), admin_site_path
  %li.has-flyout
    = link_to t('admin.nav_bar.documents'), admin_documents_path
    %a.flyout-toggle{ :href => "#"}
      %span

    %ul.flyout
      %li
        = link_to t('base.new'), new_admin_document_path
<<<<<<< HEAD

  %li.has-flyout
    = link_to t('admin.nav_bar.news'), admin_news_index_path
    %a.flyout-toggle{ :href => "#"}
      %span

    %ul.flyout
      %li
        = link_to t('news.new'), new_admin_news_path

  %li
    = link_to t('admin.nav_bar.feedback'), admin_feedbacks_path

  %li.has-flyout
    = link_to t('admin.nav_bar.reviews'), admin_reviews_path
    %a.flyout-toggle{ :href => "#"}
      %span

    %ul.flyout
      %li
        = link_to t('review.new'), new_admin_review_path

  %li.has-flyout
    = link_to t('admin.nav_bar.components'), admin_components_path
     %a.flyout-toggle{ :href => "#"}
      %span

    %ul.flyout
      %li
      = link_to t('component.new'), new_admin_component_path
        
  %li.has-flyout
    = link_to t('admin.nav_bar.pages'), admin_pages_path
    %a.flyout-toggle{ :href => "#"}
      %span

    %ul.flyout
      %li
      = link_to t('page.new'), new_admin_page_path

