%ul.nav-bar
  %li
    = link_to t('admin.nav_bar.settings'), admin_site_path
  %li.has-flyout
    = link_to t('admin.nav_bar.documents'), admin_documents_path
    %a.flyout-toggle{ :href => "#"}
      %span

    %ul.flyout
      %li
        = link_to t('base.new'), new_admin_document_path
        
  %li.has-flyout
    = link_to t('admin.nav_bar.pages'), admin_pages_path
    %a.flyout-toggle{ :href => "#"}
      %span

    %ul.flyout
      %li
        = link_to t('page.new'), new_admin_page_path